absl-py==2.2.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.2
altair==5.5.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.8.0
appnope==0.1.4
asttokens==3.0.0
astunparse==1.6.3
attrs==23.2.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.8.2
cachetools==6.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
colorgram.py==1.2.0
contourpy==1.3.3
cowsay==6.1
cryptography==3.4.8
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.34.0
distlib==0.3.8
distro==1.7.0
dnspython==2.6.1
docopt==0.6.2
email_validator==2.1.2
executing==2.2.0
fabric==3.2.2
fasteners==0.14.1
fastjsonschema==2.21.1
filelock==3.15.4
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.4.1
fsspec==2025.7.0
ftfy==6.3.1
future==0.18.2
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
googletrans-py==4.0.0
greenlet==3.0.3
grpcio==1.71.0
h11==0.16.0
h2==4.2.0
h5py==3.13.0
heroes==1.0.2
hf-xet==1.1.5
hpack==4.1.0
hstspreload==2023.1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.34.3
hyperframe==6.1.0
idna==3.6
importlib-metadata==4.6.4
importlib_resources==6.4.0
invoke==2.2.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
keras==3.10.0
keras-tuner==1.4.7
keyring==23.5.0
kiwisolver==1.4.8
kt-legacy==1.0.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
lockfile==0.12.2
lprettytable==0.5
macaroonbakery==1.3.4
Mako==1.3.5
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
multidict==6.1.0
mysql-connector-python==8.2.0
namex==0.0.9
narwhals==2.0.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.2.6
oauthlib==3.2.0
olefile==0.46
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pandas==2.2.2
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.4
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
pipenv==2024.0.1
pipreqs==0.5.0
platformdirs==4.2.2
plotly==6.2.0
prompt_toolkit==3.0.51
protobuf==4.21.12
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pycparser==2.22
pycups==2.0.1
pydantic==2.10.5
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyperclip==1.9.0
pyRFC3339==1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.2
pyzmq==27.0.1
referencing==0.35.1
regex==2025.7.34
requests==2.31.0
rfc3986==1.5.0
rich==14.0.0
rpds-py==0.19.1
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.15.2
seaborn==0.13.2
SecretStorage==3.3.1
setuptools==72.1.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
soupsieve==2.7
SQLAlchemy==2.0.30
stack-data==0.6.3
starlette==0.45.2
streamlit==1.47.1
tenacity==9.1.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==3.1.0
tf_keras==2.16.0
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.21.4
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.54.1
twilio==9.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.3
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
WTForms==3.1.2
xdg==5.0.0
yarg==0.1.9
yarl==1.11.1
zipp==1.0.0